extends layout

block content
  .inner
    h2= title

    .names-table
    label(for='search') Search
      input.search(name='search' placeholder='search by name, location, etc.')
    button.sort(data-sort='name') Sort by name

    - var columns = ['name', 'age', 'cod', 'nationality'];

    table
      thead.list
        tr#columns
          th name
          th age
          th cod
          th nationality
      tbody
        each name in names
          tr#rows
            td= name.name
            td= name.age
            td= name.deathCategory
            td= name.nationality